include header

.row
    .col-xs-10.col-xs-offset-1
        .h1 Can you escape?

.row
  .jumbotron


//- 
//- .row
//-     .col-xs-10.col-xs-offset-1
//-         a(href="/").col-xs-10
//-             img(src="images/logo.png")
//-         br
//-         .h4 Test your wit, cunning, and perseverance in a room of mysteries and tricks!
//- 


.row
    .col-xs-10.col-xs-offset-1
        .h2 Fun for groups

.row
    .col-xs-10.col-xs-offset-1

        .h2 Corporate Rates
       






include footer 
include scripts
